asgiref==3.7.2
beautifulsoup4==4.12.3
black==23.12.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
crispy-bootstrap4==2023.1
cycler==0.12.1
Django==5.0.1
django-crispy-forms==2.1
flake8==7.0.0
fonttools==4.47.2
idna==3.6
kiwisolver==1.4.5
matplotlib==3.8.2
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.26.3
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
platformdirs==4.1.0
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
psycopg2-binary==2.9.9
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.4
urllib3==2.1.0
