{% extends "base.html" %}

{% block content %}
  <h2>My Profile</h2>

  <!-- User Data Section -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Personal Data</h5>
      <!-- Add your user data here -->
      <p class="card-text">Username: {{user.username}}</p>
      <p class="card-text">Email: {{user.email}}</p>
      <p class="card-text">Full name: {{user.first_name}} {{user.last_name}}</p>
      <div class="d-flex">
    <button href="{% url 'service:user-update' pk=user.id %}" class="btn btn-primary">Edit Profile</button>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary ml-2">Log out</button>
    </form>
</div>
    </div>
  </div>

  <!-- Statistics Section -->
  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Statistics</h5>
      <!-- Add your statistics here -->
      <p class="card-text">Page Visits: 0</p>
      <p class="card-text">Data Volume Sent: 0 MB</p>
      <p class="card-text">Data Volume Received: 0 MB</p>
    </div>
  </div>

{% endblock %}
