{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">Sites
    <a href="{% url 'service:site-create' %}" class="link-to-page">+</a>
  </h1>


    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Site URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for site in site_list %}
          <tr>
            <td>{{ site.name }}</td>
            <td>{{ site.url }}</td>
            <td><a href="{% url 'service:router' user_site_name=site.name routes_on_original_site='/' %}" class="link-to-page">go to the site</a></td>
            <td><a href="{% url 'service:site-delete' pk=site.id %}" class="link-to-page">×</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
